body {
    padding: 0;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

body button,
.btn,
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.btn:hover,
body button:hover {
    opacity: .8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h2, h3 {
    color: #8d3d6a;
    font-family: 'Fredericka the Great', cursive;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    line-height: 1.9;
    font-size: 19px;
    color: #8e587e;
    font-family: 'Athiti', sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

/* colors code */
legend {
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    color: #cf5c95;
}

.text-bl {
    color: #c3ac10;
}

.text-wh {
    color: #fff;
}

.text-li {
    color: #f8f9fa;
}

.text-da {
    color: #000;
}
.bg {
    background: #2e86aa;
}
.bg-da {
    background: #04223e;
}
.bg-li{
    background: #f8f9fa;

}
.bg-wh {
    background: #fff;
}
.bg-mcc{
    background: #05294b;
}
.bg-futsal{
    background: #114260;
}
.bg-mathcomp{
    background: #093454;
}
.bg-reg{
    background: #134663;
}
.let {
    letter-spacing: 1px;
}

.main-top {
    position: relative;
    z-index: 1;
}

/* === HEADER MENU START === */
header {
    width: 100%;
    -webkit-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .5);
    -moz-box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .5);
    box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .5);
    background: #ffde6e;
    z-index: 1000;
}
.navbar {
    padding: 10px 15px;
    -webkit-box-shadow: 0.33333rem 0 1.33333rem rgba(0, 0, 0, .5);
    -moz-box-shadow: 0.33333rem 0 1.33333rem rgba(0, 0, 0, .5);
    box-shadow: 0.33333rem 0 1.33333rem rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .5);
}
.navbar-nav{
    flex: 0px;
}

.navbar-toggler {
    padding: 0;
    background-color: rgba(152, 211, 240, .5);
    color: #000;
}
.navbar-toggler i{
    padding: 4px;
}
.navbar .img-logo{
    height: 50px;
}
.navbar a {
    font-family: 'Athiti', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #a1e0ff;
}
/* === HEADER MENU END === */

/* === BANNER START === */
.banner_w3lspvt {
    background-image: url("../images/bg3.jpg");
    background-size: 100% auto;
    padding: 10vw 0;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
}

h3.w3ls_pvt-title {
    font-size: 70px;
    font-family: 'Bungee Inline', cursive;
    font-weight: 700;
    color: #f59121;
    margin: 8vw 0.1vw;
}

h3.w3ls_pvt-title span {
    color: #ffde6e;
}

.banner_w3lspvt .container .img-fluid{
    position: absolute;
    right: 120px;
    bottom: 0;
    height: 500px;
}
/* animation effect */
.shape-wthree {
    -webkit-animation: fa-spin 10s infinite linear;
    -moz-animation: fa-spin 10s infinite linear;
    -ms-animation: fa-spin 10s infinite linear;
    -o-animation: fa-spin 10s infinite linear;
    animation: fa-spin 10s infinite linear;
}

img.shape-w3-one {
    top: 37%;
    position: absolute;
    right: 2%;
    z-index: -1;
}

img.shape-w3-two {
    top: 12%;
    position: absolute;
    right: 65%;
    z-index: -1;
}

img.shape-w3-three {
    top: 15%;
    position: absolute;
    right: 20%;
    z-index: -1;
}

img.shape-w3-four {
    position: absolute;
    top: 30%;
    left: 4%;
    z-index: -1;
}

img.shape-w3-five {
    position: absolute;
    bottom: 14%;
    right: 7%;
    z-index: -1;
}

img.shape-w3-six {
    position: absolute;
    bottom: 7%;
    left: 23%;
    z-index: -1;
}
/* === BANNER END === */

/* ===== CONTENT START ===== */

fieldset{
    padding: 60px 0;
}

fieldset.parsial{
    border: 15px solid #77556d;
    border-radius: 30px;
    padding-left: 145px;
    padding-right: 145px; 
}
p, h3, h2{
    text-align: center;
}

h3.title {
    margin-bottom: 30px;
}
h3.title-parsial {
    font-size: 40px;
}

p.sub-title{
    padding: 0 120px;
    margin: 20px auto;
    font-size: 18px;
}
p.sub-title-parsial{
    padding: 0;
    font-size: 20px;
    text-align: justify;
}

p.time-line {
    font-size: 16px;
    color: #2fa58d;
}

p.cp{
    margin: 30px auto;
    border: 5px dotted #2fa58d;
    padding: 8px;
    font-size: 18px;
    color: #8e587e;
}

p.kind{
    font-size: 20px;
    color: #72f5da;
}
/* ===== CONTENT END ===== */

/* ===== REGISTER START =====*/

.about-grid-main{
    background: #145579;
    padding: 4em 4em;
    -webkit-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.5);
    -moz-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.5);
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.5);
    text-align: center;
}

.about-grid-main img {
    height: 200px;
    width: 200px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.about-grid-main h4, .about-in h5.card-title {
    font-size: 25px;
    color: #05013c;
    font-family: 'Fredericka the Great', cursive;
}

.about-grid-main p{
    color: #060052;
    font-family: 'Athiti', sans-serif;
    font-size: 17px;
}

a.button-w3ls {
    color: #5b0034;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Vast Shadow', cursive;
    display: inline-block;
    letter-spacing: 1px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* ==== REGISTER END ====*/

/* ==== FOOTER START ====*/
.icon-effect-w3 {
    background: #8c1b5b;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 1em;
}

.icon-effect-w3 span {
    line-height: 70px;
    font-size: 24px;
    color: #fff;
}

.subscribe {
    max-width: 800px;
}

.copy_right{
    color: #000;
    font-weight: 600;
    letter-spacing: 2px;
}

.copy-bottom{
    background-color: #77556d;
    margin-bottom: 0px;
}

/* //copyright */
/* social icons */
.social-icons-footer ul li {
    display: inline-block;
}

p.text-bl{
    color: #89034e;
}

.social-icons-footer ul li a span {
    color: #89034e;
    margin: 0 8px;
    font-size: 25px;
}

/* //social icons */
/* bottom-to-top */
a.move-top span {
    color: #89034e;
    font-size: 30px;
}
/* ==== FOOTER END ==== */

/* ==== RESPONSIVE ==== */

@media (max-width: 1200px) {
    .navbar a {
        font-size: 20px;
    }
    /* ==== BANNER START ====*/

    h3.w3ls_pvt-title {
        font-size: 50px;
    }
    img.shape-w3-one {
        top: 40%;
        right: 6%;
        max-width: 50px;
    }

    img.shape-w3-two {
        top: 18%;
        max-width: 90px;
    }

    img.shape-w3-three {
        top: 20%;
        max-width: 25px;
    }

    img.shape-w3-four {
        left: 7%;
    }

    img.shape-w3-six {
        bottom: 15%;
        max-width: 65px;
    }
    /* ==== BANNER END ====*/

    /* ==== CONTENT START ====*/
    fieldset{
        padding: 50px 0;
    }
    fieldset.parsial {
        margin: 40px 0;
    }

    fieldset.parsial{
        border: 10px solid #77556d;
        border-radius: 30px;
        padding-left: 100px;
        padding-right: 100px; 
    }
    h3.title {
        margin-bottom: 20px;
    }
    h3.title-parsial {
        font-size: 30px;
    }

    p.sub-title{
        padding: 0 50px;
    }
    p.sub-title-parsial{
        padding: 0;
        font-size: 18px;
    }

    p.cp{
        margin: 25px auto;
        font-size: 16px;
    }

    p.kind{
        font-size: 18px;
    }
    /* ==== CONTENT END ====*/

    /* ===== REGISTER START =====*/

    .about-grid-main{
        padding: 2.5em;
    }

    a.button-w3ls {
        font-size: 16px;
    }

    /* ==== REGISTER END ====*/

}

@media (max-width: 992px) {
    .navbar a {
        font-size: 16px;
    }
    /* ==== BANNER START ====*/
    .banner_w3lspvt {
        padding: 8vw 0;
    }

    h3.w3ls_pvt-title {
        font-size: 40px;
    }

    img.shape-w3-two {
        top: 23%;
        max-width: 55px;
    }

    img.shape-w3-six {
        max-width: 40px;
    }
    /* ==== BANNER END ====*/

    /* ==== CONTENT START ====*/
    #about, #register, #contact {
        padding: 40px;
    }
    fieldset{
        padding: 40px 0;
    }
    fieldset.parsial{
        padding-left: 60px;
        padding-right: 60px; 
        margin: 0;
    }
    h3.title {
        margin-bottom: 20px;
    }
    h3.title-parsial {
        font-size: 30px;
    }

    p.sub-title{
        padding: 0 40px;
    }
    p.sub-title-parsial{
        padding: 0;
        font-size: 18px;
    }

    p.cp{
        margin: 25px auto;
        font-size: 16px;
    }
    /* ==== CONTENT END ====*/

    /* ===== REGISTER START =====*/

    .about-grid-main{
        padding: 1em;
    }
    .about-grid-main img {
        height: 180px;
        width: 180px;
    }
    a.button-w3ls {
        font-size: 16px;
    }

    /* ==== REGISTER END ====*/
}

@media (max-width: 768px) {
    .navbar a.nav-link {
        font-size: 14px;
        padding: 4px !important;
    }
    /* ==== BANNER START ====*/
    .banner_w3lspvt {
        padding: 80px 0 10px;
    }

    h3.w3ls_pvt-title {
        font-size: 35px;
        margin: 100px 0 10px;
    }
    img.shape-w3-one {
        top: 50%;
        max-width: 30px;
    }

    img.shape-w3-two {
        top: 30%;
        max-width: 40px;
    }

    img.shape-w3-three {
        top: 32%;
        max-width: 10px;
    }

    img.shape-w3-four {
        top: 42%;
        max-width: 20px;
    }

    img.shape-w3-five {
        right: 12%;
        max-width: 15px;
    }

    img.shape-w3-six {
        max-width: 25px;
    }
    /* ==== BANNER END ====*/

    /* ==== CONTENT START ====*/
    #about, #register, #contact {
        padding: 30px;
    }
    fieldset{
        padding: 30px 0;
    }
    fieldset.parsial{
        padding-left: 60px;
        padding-right: 60px; 
        margin: 0;
    }
    h3.title {
        margin-bottom: 20px;
    }
    h3.title-parsial {
        font-size: 30px;
    }

    p.sub-title{
        padding: 0 15px;
        margin: 16px auto;
        font-size: 16px;
    }
    p.sub-title-parsial{
        padding: 0;
    }

    p.cp{
        margin: 15px auto;
        font-size: 16px;
    }

    /* ==== CONTENT END ====*/

    /* ===== REGISTER START =====*/

    .about-grid-main {
        padding: 8px 15px;
    }
    .about-grid-main h4, .about-in h5.card-title {
        font-size: 20px;
    }

    .about-grid-main p{
        line-height: 1.25;
        font-size: 14px;
    }
    
    .about-grid-main img {
        height: 130px;
        width: 130px;
    }
    a.button-w3ls {
        font-size: 10px;
        margin-top: 2rem !important;
    }
    /* ==== REGISTER END ====*/

    /* ==== FOOTER START ==== */
    .copy-bottom p {
        font-size: 15px;
    }
    .copy-bottom span {
        margin: 0 4px !important;
        font-size: 20px;
    }
    /* ==== FOOTER END ==== */
}

@media (max-width: 575px) {
    .navbar {
        padding: 5px 45px;
    }
    .navbar .img-logo {
        height: 40px;
        margin-top: 4px;
    }
    .navbar a.nav-link {
        font-size: 14px;
        float: right;
    }
    /* ==== BANNER START ====*/
    .banner_w3lspvt {
        padding: 80px 0 10px;
    }

    h3.w3ls_pvt-title {
        font-size: 30px;
        margin: 100px 0 10px;
    }

    /* ==== BANNER END ====*/

    /* ==== CONTENT START ====*/
    #about {
        padding: 0;
    }
    fieldset.parsial{
        border: none;
        padding-left: 30px;
        padding-right: 30px; 
    }
    p.sub-title{
        padding: 10px 30px;
        margin: 0 auto;
    }
    p.sub-title-parsial{
        padding: 0;
        text-align: center;
    }
    .timeline-group {
        padding: 0 30px;
    }
    p.time-line {
        font-size: 14px;
    }

    h3.title {
        font-size: 20px;
        margin-bottom: 10px;
        margin: 0 20px 10px;
    }
    /* ==== CONTENT END ====*/

    /* ===== REGISTER START =====*/
    #register {
        padding: 10px 30px
    }
    .about-grid-main {
        margin: 10px;
    }
    .about-grid-main img {
        margin-top: 15px;
    }
    a.button-w3ls {
        font-size: 16px;
    }
    /* ==== REGISTER END ====*/

    /* ==== FOOTER START ==== */
    .copy-bottom {
        text-align: center;
        padding: 15px !important;
    }
    .copy_right, .move-top, .social-icons-footer {
        margin-bottom: 5px !important;
    }
    /* ==== FOOTER END ==== */
}

@media (max-width: 490px) {
    .banner_w3lspvt {
        background-size: cover;
    }
}

@media (max-width: 425px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .banner_w3lspvt {
        padding: 40px 0 10px;
    }
    h3.w3ls_pvt-title {
        font-size: 20px;
        margin: 80px 0 0;
    }

    fieldset.parsial {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-grid-main {
        padding: 8px 20px;
    }
    #contact .sub-title {
        padding: 7px 0;
    }
}

@media (max-width: 375px) {
    /* ==== BANNER START ====*/
    img.shape-w3-two {
        top: 40%;
        max-width: 30px;
    }

    img.shape-w3-six {
        left: 18%;
        max-width: 20px;
    }
    /* ==== BANNER END ====*/
    p.sub-title, p.cp{
        font-size: 14px;
    }
    p.time-line {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    p.time-line {
        font-size: 10px;
    }
    a.button-w3ls {
        font-size: 12px;
    }
}