.url_action{
	margin-right: 5px;
	color: #000000;
}
.btn-action{
	margin: 0 5px !important;
}
.actions{
	display: none;
	font-size: 12px;
}
.show-actions{
	display: block;
}
.image-pa{
	max-width: 250px;
	max-height: 250px;
}
td.checkbox-member{
	text-align: center;
}